h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    align-content: center;
    margin: 30px;
    color: rgb(4, 21, 117);
    text-align: center;
    text-decoration: double;
    font-size: 300%;
}
.mydata{
    text-align: left;
    color: darkgreen;
    font-size: 200%;
    padding: 10px;
    margin: 0%;
    /*background-color: yellow;*/
}
.logo{
    float: right; 
    max-width: 90%;
}
.alldata{
    display: flex;
}
.mail{
    font-size: 40px;
}
.footer{
    display: flex;
    align-items:center;
    align-content: center;
}

